* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #14bdac;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.game-block {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 30px auto;
}

.item {
  background-color: white;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: black;
}

#info{
  font-size: 20px;
  color: red
}

.button{
  background-color: red;
  cursor: pointer;
}

#startButton{
  background-color: green;
  cursor: pointer;
}

#startButton.passive{
  background-color: gray;
  cursor: none;
  pointer-events: none;
}

.buttonsBlock{
  margin-bottom: 15px;
}